# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Entornos virtuales
ocr_env/
venv_trocr310/

# Archivos temporales
*.log
*.tmp

# --- Node / React ---
frontend/node_modules/
frontend/.env
frontend/build/
frontend/dist/

# --- Datos / Imágenes ---
Book-Scan-OCR/
image_back/
web_integration/uploads/
*.jpg
*.jpeg
*.png
*.csv
*.txt

# --- IDEs / SO ---
.vscode/
.idea/
.DS_Store
Thumbs.db
